//Settings Page
 .settings_page{
    height: auto; 
    width: 250px;

    & .settings_nav_div{
        border:1px solid $header_border;
        border-radius: 3px;
        background: $ff;

     & li{
        & a{
          display: block;
          padding: 10px 10px;
          font-size: 14px;
          background: white;
          color: #3d464d;
          outline: none;

          &:hover{
              background: #fffafa;
              color: $dark;
          }

          &:first-of-type{
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
          }

          & .settings_nav_active{
              color: $dark !important;
              font-weight: 600 !important;
          }
         }
       }
    }
 }

 .settings_p{
     position: relative;
     width: 540px;
     margin-right: 0px;
     margin-left: 10px;


     & .spinner{
         top: 150px;
         left: 250px;
     }

     & .set_header{
         margin-bottom: 14px;
         font-size: 14px;
     
       & .acc_type_h{
           position: relative;
           display: block;
           margin-bottom: 10px;
           font-size: 16px;
           font-weight: 600;
       } 
    }

   //Change password
   & .change_pass{
       width: 100%;
       padding: 15px 15px 20px 10px;
       border: 1px solid $header_border;
       border-radius: 3px;
       background: $ff;

       & .c_p_header{
           position: absolute;
           margin-bottom: 20px;
           font-size: 16px;
           font-weight: 600;
       }

       & .c_p_main{
           & > div{
               margin-bottom: 20px;

               & span{
                   display: block;
                   margin-bottom: 4px;
                   font-size: 14px;
               }

               & input[type="password"]{
                   width: 325px;
                   padding: 7px 10px;
                   font-size: 14px;
               }
           }

         & a.c_p_btn{
            display: inline-block;
            padding: 5px 15px;
            font-size: 14px;
         }
       }
    } 

   //Profile settings
   & .pro_settings{
       padding: 10px 10px 20px 10px;
       border: 1px solid $header_border;
       border-radius: 3px;
       background: $ff;
       
       & .acc_type{
           & .acc_type_main{
               & select{
                   display: block;
                   padding: 3px 8px;
                   margin-bottom: 12px;
                   font-size: 14px;
               }

               & > span{
                   display: block;
                   margin-bottom: 13px;
                   font-size: 14px;

                  &:first-of-type{
                      margin-bottom: 3px;
                  } 
               }
           }
       }

    //Blocking users
    & .blocking{
        margin-top: 35px;

        & .blocked_users{
            position: relative;
            height: 40px;
            padding: 0px;
            margin-bottom: 10px;

           & img{
               display: inline-block;
               height: 40px;
               width: 40px;
               border-radius: 3px; 
           }

           & .blocked_u_content{
            position: relative;   
            display: inline-block;
            top: -6px;
            width: 90%;

           & .blocked_info{
               position: relative;
               display: block;
               width: 80%;
               left: 4px;

               & .blocked_username{
                   font-weight: 600;
                   color: #3d464d;

                   &:hover{
                       text-decoration: underline;
                   }
               }

               & .blocked_mutual{
                  display: block;
               }
           }

         & .unblock{
             position: absolute;
             display: inline-block;
             top: 5px;
             right:0px;
             padding: 3px 10px;
             font-weight: 600;
           }
         }
      }
    } 
   }

   //Deactivate
   & .delete_acc{
       @include inst;
       padding: 10px;
       background: $ff;

       & .c_p_header{
           position: relative;
           display: block;
           margin-bottom: 10px;
           font-size: 16px;
           font-weight: 600;
       }

       & input[type="password"]{
           display: block;
           width: 70%;
           padding: 7px;
           font-size: 14px;
       }

       & input[type="submit"]{
           padding: 7px 18px;
           margin-top: 8px;
           font-size: 14px;
           font-weight: 600;
       }

       & .delete_acc_info{
           margin-top: 10px;
           font-size: 14px;

           & > span{
               display: block;
               margin-bottom: 12px;
           }

           & span:first-of-type{
                   margin-bottom: 5px; 
               }
           }

          & .delete_acc_bold{
            font-size: 14px;  
            font-weight: 600;
          }
       }
   }








































