{{>nHeader}}

  <div class="notes-wrapper">
     <div class="welcome-div error_div">
         <div class="error_info">
             <span>Oops,the page you`re looking for does not exist</span>
         </div>
 
        <img src="/dist/images/error.svg" alt="">
        <div class="error_bottom">
            <a href="/welcome" class="sec_btn error_home">Go to home page</a>
            <a href="/login" class="pri_btn error_login">Want you to login?</a>
        </div>
    </div> 
  </div>
 {{>footer}}















