 {{#if loggedIn}}
    {{>yHeader}}
   {{else}}
    {{> nHeader}} 
  {{/if}}

  <div class="registered">
      <span>An instgram clone app with some new addition options</span>
  </div>

 {{> footer}}






