{{#if loggedIn}}
  {{> yHeader}}
 {{ else }}
  {{> nHeader}}
 {{/if}}

 <div class="Viso94">
  <div class="dev_div">
    <img src="/images/skull.gif" />
    <span>Developed by
      <a href="https://www.instagram.com/ervisveizaj/" target="_blank" >Ervis Veizaj</a> currently 25 living in Vienna.</span>
    <span>He's a full-stack developer and mostly writes code in JavaScript as it's his favourite language.</span>
    <span>Other Interests:</span>
    <span>Football</span>
    <span>Languages</span>
    <span>Basketball</span>
    <span>Running- (I want to live much longer as possible)</span>
    <span>... and much more</span>
    <div class="dev_div_links">
      <a href="" target="_blank" class="sec_btn">Email</a>
      <a href="https://www.github.com/visomadileni/" target="_blank" class="sec_btn">GitHub</a>
      <a href="" target="_blank" class="sec_btn">Linkedin</a>
      <a href="https://www.facebook.com/ervisveizaj" target="_blank" class="sec_btn">Facebook</a>
    </div>
    <iframe 
        src=""
        frameborder="0" 
        scrolling="0"
        width="220px"
        height="30px"
    ></iframe>
  </div>
 </div>

{{> footer}}