{{> nHeader}}
  <div class="notes_wrapper">
    <div class="forgot_password cua">
          <spam>Forgot Password</spam>
       <form class="form_fp">
         <span class="fp_span">Please enter the email you registered with</span>
         <input 
           type="email"
           class="fp_email"
           required
           placeholder="Your email">
          <input
           type="submit"
           name=""
           value="Proceed on"
           class="fp_submit">  
       </form>
    </div>
 </div>
 
 {{> footer}}













