
   <link rel="stylesheet" href="../public/css/signup.css" type="text/css">
</head>
<body>
   <main>
      <div class="signup-page">
          <div class="header">
            <h1 class="logo">Instagram</h1>
            <p>Sign up to see photos and videos from your friends.</p>
            <button><i class="fab fa-facebook-square"></i> Log in with Facebook</button>
            <div>
              <hr>
              <p>OR</p>
              <hr>
            </div>
          </div>
          <div class="container">
            <form action="">
              <input type="text" placeholder="Mobile Number or Email">
              <input type="text" placeholder="Full Name">
              <input type="text" placeholder="Username">
              <input type="password" placeholder="Password">
              <button>Sign up</button>
            </form>
            
            <ul>
              <li>By signing up, you agree to our</li>
              <li><a href="">Terms</a></li>
              <li><a href="">Data Policy</a></li>
              <li>and</li>
              <li><a href="">Cookies Policy</a> .</li>
           </ul>
          </div>
      </div>
      <div class="option">
         <p>Have an account? <a href="">Log in</a></p>
      </div>
      <div class="otherapps">
        <p>Get the app.</p>
        <button type="button"><i class="fab fa-apple"></i> App Store</button>
        <button type="button"><i class="fab fa-google-play"></i> Google Play</button>
      </div>
      <div class="footer">
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Help</a></li>
          <li><a href="">Press</a></li>
          <li><a href="">Api</a></li>
          <li><a href="">Jobs</a></li>
          <li><a href="">Privacy</a></li>
          <li><a href="">Terms</a></li>
          <li><a href="">Locations</a></li>
          <li><a href="">Top accounts</a></li>
          <li><a href="">Hashtags</a></li>
          <li><a href="">Language</a></li>
        </ul>
        <p>© 2020 INSTAGRAM</p>
      </div>
    </main>

 