{{> nHeader }}

<div class="notes_wrapper">
  <div class="welcome_div">
    <img src="/dist/images/omg.png" alt="">
  </div>
</div>

<div class="github-stats">
  <iframe src="https://ghbtns.com/" frameborder="0" scrolling="0" width="180px" height="30px"></iframe>
  <iframe src="https://ghbtns.com/" frameborder="0" scrolling="0" width="125px" height="30px"></iframe>
  <iframe src="https://ghbtns.com/" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
</div>

{{> footer }}