input[type="text"],
input[type="email"],
input[type="passowrd"],
textarea{
    border: 1px solid $ee;
    border-radius: 4px;
    padding: 5px;
    color: #0b867a;
    font-family: $family;
    outline: none;

    &:disabled{
        background: $fb;
    }

    &:focus{
        border: 1px solid #56b4ef !important;
        box-shadow: 0px 0px 5px 1px #c8def0;
    }
}

 input[type="submit"]::-moz-focus-inner,
 input[type="button"]::-moz-focus-inner{
    padding: 0 !important;
    border: 0 none !important;
 }

 textarea{
     font-size: 13px;
     word-break: break-all;
 }

 input[type="submit"],
 input[type="buton"],
 .pri_btn{
     border:1px solid $pric;
     border-radius: 3px;
     font-weight: 600;
     color: $ff;
     background: $pric;
     cursor: pointer;
     outline: none;

     &:hover{
         opacity: 0.9;
     }
 }

 input[type="submit"]:disabled,
 input[type="buton"]:disabled{
    background: #6ab9e8 !important;
    cursor: auto !important;

    &:hover{
        opacity: 1 !important;
    }
 }

 input[type="range"]{
     width: 100%;
     border-radius: 3px;
     cursor: pointer;
     outline: none;
     -webkit-appearance: none;

     &:focus{
         outline: none;

         &::-ms-thumb{
             transform: scale(1.2);
             -webkit-transform: scale(1.2);
             -moz-transform: scale(1.2);
         }
     }

     &::-webkit-slider-runnable-track{
        height: 6px;
        width: 100%;
        border-radius: 3px;
        cursor: pointer;
        background: $ff;
        background: rgba(255,255,255,0.5);
        box-shadow: 0px 0px 5px 0px $light_shadow;
     }

     &::-webkit-slider-thumb{
         height: 15px;
         width: 15px;
         margin-top: -5px;
         margin-left: 0px;
         border-radius: 50%;
         border: 1px solid #4080ff;
         box-shadow: 0px 0px 5px 0px $light_shadow;
         background: #4080ff;
         cursor: pointer;
         appearance: none;
         -webkit-appearance: none;
     }

     &:hover::-webkit-slider-thumb{
         transform: scale(1.2);
         -webkit-transform: scale(1.2);
     }

     &::-moz-range-track{
         height: 6px;
         width: 100%;
         border-radius: 3px;
         box-shadow: 0px 0px 5px 0px $light_shadow;
         background: #fff;
         cursor: pointer;
     }

     &::-moz-range-thumb{
        height: 14px;
        width: 14px;
        border-radius: 50%;
        border: 1px solid #4080ff;
        box-shadow: 0px 0px 5px 0px $light_shadow;
        background: #4080ff;
        cursor: pointer;
    }

    &:hover::-moz-range-thumb{
        transform: scale(1.2);
        -moz-transform: scale(1.2);
      }

      &::-moz-focus-outer{
          border: 0;
      }

      &::-ms-track{
          position: relative;
          height: 6px;
          width: 100%;
          border-radius: 3px;
          border: 1px solid;
          border-color: transparent;
          color: transparent;
          background: transparent;
          z-index: 2;
      }

      &::-ms-fill-lower{
          border-radius: 3px;
          background: lightskyblue;
      }

      &::-ms-fill-upper{
          border-radius: 3px;
          border-color: #ecf0f1 !important;
          background: #ecf0f1;
      }
      
      &::-ms-thumb{
          height: 12px;
          width: 12px;
          margin-top: 0px;
          border-radius: 50%;
          border: 1px solid #404040;
          background: #4080ff;
          box-shadow: 0px 0px 5px 0px $light_shadow;
          cursor: pointer;
      }
 }

 input[type="file"]{
    position: absolute;
    height: 0.1px;
    width: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -2;
 }

 select{
     border: 1px solid $ee;
     border-radius: 3px;
     font-size: 14px;
     font-family: $family;
     cursor: pointer;
     outline: none;

     &:focus{
         border-color: #56b4ef;
         box-shadow: 0px 0px 5px 0px #c8def0;
     }
 }

 .inst_checkbox{
     display: none;

     & + label:before{
         content: '\f0c8';
         display: inline-block;
         font-family: 'Font Awesome 5 Free';
         font-weight: 400;
         font-style: normal;
         font-variant: normal;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
     }

     &:checked + label::before{
         content: "\f14a";
         color: 306a3e9;
         font-weight: 900;
         animation: tick 1s ease-in-out;
     }

     &:disabled + label{
         cursor: auto !important;
         color: #aaa;
     }

     &:disabled + label::before{
         content: "\f0c8";
         color: #ccc;
     }
 }






































